body{
    background-color:silver;
    font-family:"roboto";
}
.specification{
    color:red
}
.www {
    color: red;
}
.imageborder{
    border-style: groove;
    border-width: 3px;
    border-color: red;
    padding-right: 50px;
    padding-left: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.alignement {
    text-align: center;
    font-family: "Baskerville";
  }
  .mettrecouleurbleu{
      color: rgb(65, 68, 225);
      border-style: dashed;
      border-width: 2px;
      padding-left: 20px;
      padding-right: 20px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .titre{
    font-size: 80px;
  }
 