.container{
    background-color: blueviolet;
    height: 200px;
    border: 2px solid white;
}
.children{
    background-color: brown;
    height: 200px;
    border: 2px solid darkblue;
    width: 10%;
    display: inline-block;
}
@media screen and (max-width:780px){
.children {
    width: 48.7%;
}
}
@media screen and (max-width:378px)